*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml

Project/.idea/compiler.xml

Project/.idea/copyright/profiles_settings.xml

Project/.idea/misc.xml

Project/.idea/modules.xml

Project/.idea/workspace.xml

Project/src/.idea/compiler.xml

Project/src/.idea/copyright/profiles_settings.xml

Project/src/.idea/misc.xml

Project/src/.idea/modules.xml

Project/src/.idea/workspace.xml
